html {
    height: 100%;
}
body {
    /*display: flex;*/
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #bbbbbb;
}

a:hover {
    color: #000;
}

.active {
    color: #000;
}
#left {
    height: 100%;
    margin: 100px 0 0 20px;
    width: 110px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    float: left;
}
#right {
    height: 100%;
    margin: 100px 0 0;
    padding: 2px;
    width: 85%;
    border-top: 1px solid black;
    display: inline-block;

}
.inp {
    width: 75px;
    display: inline;
}
.inp input {
    width: 40px;
}
.inp_container {
    margin: 4px 6px;
    width: 100px;
}
.inp_label {
    width: 50px;
}

.inp_invisible {
    display: none;
}

.nav {
    margin-bottom: 5px;
}

.nav_link {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px 7px;
    padding: 3px;
}

.workplace {
    margin: 10px 7px 5px 10px;
}

#calc {
    margin-top: 10px;
    width: 80px;
}